= simple_form_for project, remote: true do |f|
  = f.input :title, label: 'Title'
  = f.input :description, label: 'Description'
  = f.button :submit, class: "btn btn-primary", data: { disable: true }
