h1.hello Hello master

= link_to 'Books', admin_books_path, class: 'admin-link'
br
= link_to 'Categories', admin_categories_path, class: 'admin-link'
br
= link_to 'Users', admin_users_path, class: 'admin-link'
