
.thumbnail {
  height: 320px;
  .book-image {
    max-width: 100%;
    max-height: 150px;
  }
  h4.book-title {
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  p.thumbnail-description {
    height: 50px;
    word-wrap: break-word;
    color: #d0d0d0;
    font-style: italic;
  }
  p.author {
    font-weight: bold;
    font-style: italic;
    color: gray;
  }
  a.book-show-link {
    text-decoration: none;
    color: gray;
    &:hover {
    @extend .book-show-link;
    }
    &:active {
      @extend .book-show-link;
    }
  }
}

.book-show-section {
  .description {
    margin-top: 15px;
  }

  .link-download {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    &:hover {
    @extend .book-show-link;
    color: #505050;
    }
    &:active {
      @extend .book-show-link;
      color: gray;
    }
    font-size: 1.2em;
  }
}

#access-denied-section {
  h2 {
    color: #cd1216;
    font-weight: bold;
  }
  p {
    font-size: 1.4em;
    color: #cd1216;
    a.login-link {
      font-weight: bold;
      color: red;
      &:hover {
      @extend .login-link;
      color: red;
      }

      &:active {
        @extend .login-link;
        color: red;
      }
    }
  }
  .img-circle {
    max-width: 230px;
  }
}
