.book-image {
  max-width: 200px;
  max-height: 150px;
}

.thumbnail {
  height: 320px;
}

p.author {
  font-weight: bold;
  font-style: italic;
  color: gray;
}

p.thumbnail-description {
  height: 50px;
}